<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?><target name="ECP RAP target" sequenceNumber="14">
<locations>
<location path="C:\Users\vasko\lib\rap-runtime-1.5.1-R-20120917-1116" type="Directory"/>
</locations>
</target>
